---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Contact" description="Paul Platzer — Contact">
  <h1>Contact</h1>

  <p>
    firstname [dot] lastname [at] imt-atlantique [dot] fr
  </p>
</BaseLayout>
